@mixin box-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    margin: auto;
    text-align: center;
    
  }

@mixin style-text {
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    font-size:20px;
    font-weight: 200;
    border: none;
    &:hover{
        cursor: pointer;
        color: #000000;
        background-color: white;
        box-shadow: 0px 0px 3px rgb(51, 133, 255);
    }
}

.cont{
    @include box-center();
}
h1{
    font-size: 30px;
    margin-bottom: 15px;
}
p{
    font-size: 20px;
    margin-top: 10px;
}

button{
    @include style-text();
    margin-top: 30px;
    margin-bottom: 30px;
}
.h4{
    text-align: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
}
.bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.heder {
    width: 25%;
}

.principal {
    width: 75%;
}