<app-header></app-header>
<div class="cont">

    
    <div class="container">
        <h1>Indicaciones de Juego</h1>
        <div class="contenido">
            <p>Para iniciar el juego debes estar registrado, incluso los jugadores</p>
            <button mat-flat-button (click)="btnNewGame()">Crear Juego</button>
        </div>
        <div class="contenido">
            <p>Invita a tus amigos</p>
            <button mat-flat-button (click)="invitar()">Invitar a tus amigos</button> 
        </div>
        <button mat-flat-button (click)="btnGameList()">Consultar Juegos Creados</button>
    </div>
</div>
