<app-header></app-header>
<div class="contenedor">
    <div>
    <div class="row">
     
        
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">

                <div class="pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="colorletra">Crear Juego</h1>
                </div>
                <p class="colorletra">Invite a los jugadores a participar del juego</p>
                <mat-form-field class="example-full-width">
                    <input  type="text" placeholder="Selecciones jugadores" aria-label="Selecciones jugadores" matInput
                        [matAutocomplete]="auto" [formControl]="userControl" #userInput>
                    
                </mat-form-field>

                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let user of filteredUsers | async" [value]="selectedUsers">
                        <div (click)="optionClicked($event, user)">
                            <mat-checkbox [checked]="user.selected" (change)="toggleSelection(user)"
                                (click)="$event.stopPropagation()">
                                {{ user.displayName }} [{{ user.email }}]
                            </mat-checkbox>
                        </div>
                    </mat-option>
                </mat-autocomplete>

                <br><br>

                <label class="colorletra">Jugadores Seleccionados:</label>
                <mat-list class="colorFondo" dense>
                    <mat-list-item *ngIf="selectedUsers?.length === 0">(None)</mat-list-item>
                    <mat-list-item  *ngFor="let user of selectedUsers">
                        {{ user.displayName }} [{{ user.email }}]
                    </mat-list-item>
                </mat-list>

                <button mat-stroked-button class="boton" (click)="onSubmit()">Crear</button>
            </div>
        </main>
            <div>
                <img mat-card-image  src="/assets/newgamelogo.jpg" />
            </div>

    </div>
</div>
</div>
